.main-container {
    justify-content: space-between;
    display: flex;
    gap: 20px;
  }

  @media (max-width: 991px) {
    .main-container {
      flex-wrap: wrap;
    }
  }

  .logo-img {
    aspect-ratio: 1.47;
    object-fit: contain;
    object-position: center;
    width: 78px;
    height: 53px;
    overflow: hidden;
    max-width: 100%;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
  

  }
  .navbar-menu-container {
    display: none;
  }
  .navbar-links-container{
    /*position: absolute;*/
    right: 30px;
    display: flex;
   }
   .navbar-links-container a {
     margin-right: 24px;
     text-decoration: none;
     color: #292D34;
     font-size: 17.5px;
     font-weight: 500;
   }
   .light-header a{
    color: #fff;
   }
   .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .list-item{
    border-bottom: 1px solid rgba(41, 45, 52, 0.1);
  }
  .menu-mobile-item{
    text-decoration: none;
  }
  .menu-mobile-item span{
    margin-right: 24px;
      
      color: #292D34 !important; 
      font-size: 17.5px !important;
      font-weight: 500 !important;
      font-family: 'Baloo 2', sans-serif !important;
  }
  .navigation {
    align-items: flex-start;
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: auto 0;
    padding: 0 20px;
  }
  .navigation a{
    text-decoration: none;
  }

  @media (max-width: 991px) {
    .navigation {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .link {
    text-align: center;
    align-self: center;
   
    
    margin-right: 24px;
    text-decoration: none;
    color: #292D34;
    font-size: 17.5px;
    font-weight: 500;
  }

  .divider {
    background-color: rgba(41, 45, 52, 0.2);
    align-self: center;
    width: 1px;
    height: 22px;
    margin-right: 20px;
    display: inline-block;
  }
  
.menu-icon{
  color: #292d34;
    width: 45px;
    background: rgba(129,122,153,0.14);
    height: 45px;
    position: relative;
    padding: 10px;
    border-radius: 50%;
}
.menu-icon-light{
  color: #fff;
    width: 45px;
    background: rgba(255,255,255,0.14);
    height: 45px;
    position: relative;
    padding: 10px;
    border-radius: 50%;
}
  .language-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
    margin-top:8px
  }
  .close-menu{
    width: 24px;
    float: right;
    margin: 20px 20px 0px 20px;
    color: rgba(41, 45, 52, 1);
  }
  .right-section{
    margin-top: 10px;
  }
  /* Footer Style*/
  .footer-section{
    position: relative;
  }
  .footer-container{
    background-image: url(../../Assets/footer-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 250px 280px 66px 280px;
    position: absolute;
    top: -130px;
    z-index: -100;
    text-align: center;
    margin: auto;
    width: 100%;
  
  }
  .information-section{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 10px 0px;
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
  }
  .information-section a{
    text-decoration: none;
  }
  .email, .phone, .location{
    display: flex;
    gap: 11px;
    align-items: center;
  }
  .info-text{
    font-size: 18px;
    color:#000;
    font-weight: 500;

  }
  .info-icon{
    color: #DF1995;
    border: 2px solid rgba(223,25,149, 0.1);
    width: 39px;
    height: 39px;
    padding: 5px;
    border-radius: 50%;
  }
  .menu-section{
    padding: 24px 15px;
    text-align: center;
  }
  .footer-links-container a {
    margin: 20px;
    text-decoration: none;
    color: #292D34;
    font-size: 17.5px;
    }
    .break-mobile{
      display: none;
    }
    @media (max-width: 1000px) {
      .navbar-links-container a {
        margin-right: 1rem;
        font-size: 1rem;
      }}
    @media (max-width: 760px) {
   
        .nav-logo-container {
          max-width: 140px;
        }
        .navbar-links-container {
          display: none;
        }
        .navbar-menu-container {
          display: flex;
        }
      .information-section{
        flex-direction: column;
        margin: auto;
        text-align: center;
        align-items: flex-start;
        align-content: center !important;
        flex-wrap: wrap;
        gap:20px


      }
      .footer-container {
        padding: 270px 0px 30px 0px;
        text-align: center;
        top: -230px
      }
      .footer-links-container a{
        margin: 10px;
      }
      .break-mobile{
        display: block;
      }
    }


    a.active{
      color: #DF1995;
    }
    a.not-active{
      color :#000 !important
    }